.aluno {
    width: 350px;
    padding: 25px;
    margin: 25px auto 40px;

    background-color: #1f2937;

    border-radius: 15px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.aluno h2 {
    margin: 10px 0;

    color: #f9fafb;
    font-size: 18px;
}

.aluno h2:first-child {
    color: #a5b4fc;
}