* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #090014;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 420px;
    padding: 35px;

    background: #11101a;

    border: 2px solid #ffe600;
    border-radius: 16px;

    box-shadow:
        0 0 10px #ffe600,
        0 0 30px rgba(255, 230, 0, 0.3),
        0 0 60px rgba(123, 44, 255, 0.2);
}

/* TÍTULO */

h1 {
    color: #ffe600;

    text-align: center;
    margin-bottom: 30px;

    font-size: 28px;

    text-shadow:
        0 0 5px #ffe600,
        0 0 15px #ffe600;
}

/* INPUTS */

input {
    width: 100%;
    padding: 13px;

    margin-bottom: 16px;

    background: #08080e;

    border: 2px solid #6b20c9;
    border-radius: 8px;

    color: white;

    font-size: 15px;

    outline: none;

    transition: 0.2s;
}

input::placeholder {
    color: #777;
}

input:focus {
    border-color: #ffe600;

    box-shadow:
        0 0 8px #ffe600,
        0 0 18px rgba(255, 230, 0, 0.4);
}

/* BOTÃO */

button {
    width: 100%;
    padding: 14px;

    border: 2px solid #ffe600;
    border-radius: 8px;

    background: #ffe600;
    color: #11101a;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;

    box-shadow:
        0 0 8px #ffe600,
        0 0 20px rgba(255, 230, 0, 0.4);
}

button:hover {
    background: #fff34d;

    transform: translateY(-2px);

    box-shadow:
        0 0 12px #ffe600,
        0 0 30px #ffe600;
}

/* RESULTADO */

.resultado {
    margin-top: 25px;

    padding: 20px;

    background: #17131c;

    border: 1px solid #ffe600;
    border-left: 5px solid #ffe600;

    border-radius: 8px;

    box-shadow:
        0 0 10px rgba(255, 230, 0, 0.25);
}

.resultado h2 {
    color: #ffe600;

    font-size: 18px;

    margin-bottom: 10px;

    text-shadow:
        0 0 5px rgba(255, 230, 0, 0.6);
}

.resultado h2:last-child {
    color: #00d9ff;

    text-shadow:
        0 0 6px #00d9ff;
}